<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sorgel.duckaddress</string>
	<key>connections</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3747E419-CCEC-4A0C-A085-926D386AE6BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3747E419-CCEC-4A0C-A085-926D386AE6BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52E8BB50-C258-4584-B01F-413475F54D5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D547BC8-1C9B-4376-8620-7EE64AABD568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56CBE58F-0BBE-4FEA-B983-CED23C43D428</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52E8BB50-C258-4584-B01F-413475F54D5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73343FB4-2711-49DB-853A-C92E43929600</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C56075FB-7E77-47B7-9476-A79B966AD1A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>639EB2E5-5FE7-4E61-BFB1-2C79FC2BC32B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56CBE58F-0BBE-4FEA-B983-CED23C43D428</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D47BBC8-6436-42BE-8A9E-7EF0977FC8EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C56075FB-7E77-47B7-9476-A79B966AD1A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>085BA9CC-65CD-46BB-A75E-0EBEA2F68073</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C52C0A73-7FD1-4D66-AA7D-7EB94200C6CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4130C7F3-07D6-45C7-9356-2C5ACE157A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>639EB2E5-5FE7-4E61-BFB1-2C79FC2BC32B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D547BC8-1C9B-4376-8620-7EE64AABD568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>sorgel</string>
	<key>description</key>
	<string>Generate a new Duck Address</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Duck Address</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please add a DuckDuckGo token in the workflow settings</string>
				<key>title</key>
				<string>No token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>73343FB4-2711-49DB-853A-C92E43929600</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>da</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>DuckDuckGo address generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:token}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no token</string>
						<key>uid</key>
						<string>C56075FB-7E77-47B7-9476-A79B966AD1A1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>52E8BB50-C258-4584-B01F-413475F54D5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string>{var:token}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3747E419-CCEC-4A0C-A085-926D386AE6BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/osascript ./script.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D547BC8-1C9B-4376-8620-7EE64AABD568</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:token}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>639EB2E5-5FE7-4E61-BFB1-2C79FC2BC32B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0D47BBC8-6436-42BE-8A9E-7EF0977FC8EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>085BA9CC-65CD-46BB-A75E-0EBEA2F68073</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Can't get address:.*</string>
						<key>outputlabel</key>
						<string>Can't get address</string>
						<key>uid</key>
						<string>C56075FB-7E77-47B7-9476-A79B966AD1A1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Duck says:.*</string>
						<key>outputlabel</key>
						<string>Duck says:.*</string>
						<key>uid</key>
						<string>C52C0A73-7FD1-4D66-AA7D-7EB94200C6CE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>56CBE58F-0BBE-4FEA-B983-CED23C43D428</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4130C7F3-07D6-45C7-9356-2C5ACE157A39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow that generates Private Addresses with the DuckDuckGo API.

Provide an  DuckDuckGo API token to make it work:
1. Follow [the DuckDuckGo instructions](https://duckduckgo.com/email) to setup your Duck Address.
2. On [the Autofill tab on the DuckDuckGo email protection page](https://duckduckgo.com/email/settings/autofill) open your web browser's developer tools.
3. Click the Generate Private Duck Address button and view the Network tab on your developer tools window.
4. Select the "Addresses" call for the API POST request. The item will look like this: authorization: Bearer &lt;API token&gt;.
5. In workflow settings, add the token to 'Arg and Vars' object:

Visit the Github page for more details:
https://github.com/kkhrv/Duck-Address-workflow</string>
	<key>uidata</key>
	<dict>
		<key>085BA9CC-65CD-46BB-A75E-0EBEA2F68073</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>0D47BBC8-6436-42BE-8A9E-7EF0977FC8EF</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>3747E419-CCEC-4A0C-A085-926D386AE6BA</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Add the token here or click "Configure Workflow..."</string>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>3D547BC8-1C9B-4376-8620-7EE64AABD568</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>4130C7F3-07D6-45C7-9356-2C5ACE157A39</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>52E8BB50-C258-4584-B01F-413475F54D5E</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>56CBE58F-0BBE-4FEA-B983-CED23C43D428</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>639EB2E5-5FE7-4E61-BFB1-2C79FC2BC32B</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>73343FB4-2711-49DB-853A-C92E43929600</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>DuckDuckGo API Token</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/kkhrv/Duck-Address-workflow</string>
</dict>
</plist>
